.SearchResults {
  width: 50%;
  height: 950px;
  overflow-y: scroll;
  padding: 0.88rem;
  border-radius: 50px;
  background: #0d2696;
  box-shadow: 26px 26px 52px #091b69, -26px -26px 52px #1131c3;
}

.SearchResults h2 {
  padding-left: 2rem;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1200px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
